@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 b{
color: rgb(28, 124, 124);
}

.menu{
    height: 80px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: rgb(28, 124, 124);
    position: absolute;
    top: 0;
    left: 0;
}
.menu nav ul li a:hover{
    color: rgb(28, 124, 124);
    transition: color 300ms;
}
.menu nav ul li a{
    color: #777777;
}
.menu nav ul li a.text-menu-selected{
    color: rgb(28, 124, 124);
}
#icon-menu{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background: #fafafafa;
  border-radius: 100%;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#icon-menu:hover{
  background: #f2f2f2;
  opacity: 0.8;
}
/*Portada*/

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../IMG/Mountain.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    background:rgba(28, 124, 124, 0.548);
    position: absolute;
    top: 0;
    left: 0;
}
.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
/*Contenedor de  Informacion*/
.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}
article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
article::before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0%;
    background: rgb(28, 124, 124);;
}
article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}
article p{
    margin-top: 20px;
    font-size: 18px;
    color: #706868;
}
/*Contenedor de las fotos*/
.container-photos{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}
/*Aside*/
.container-photos aside{
  width: 1000px;
  margin: auto;
}
/*Carrusel*/
.slidershow{
  width: 700px;
  height: 400px;
  overflow: hidden;
}
.middle{
  position: relative;
margin: auto;

}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
  width: 100%;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
#r6:checked ~ .s1{
  margin-left: -100%;
}



  /*Pie de pagina*/

  .container-footer{
    width: 100%;
    padding: 40px 0;
    background: #dadada65;
    margin-top: 40px;
  }
  .container-footer footer{
    max-width: 1200px;
    margin: auto;
  }
  .container-footer footer .logo-footer{
    text-align: center;
  }
  .container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .container-footer .logo-footer h1{
    color: rgb(28, 124, 124)
  }
  .container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 6px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #3d3d3d;
  }
  .container-footer footer .redes-footer .fa-instagram:hover{
    background-color:  #DD2A7B;
    color: white;
  }
  .container-footer footer .redes-footer .fa-whatsapp:hover{
    background-color:  #25D366;
    color: white; 
  }
  .container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #7a7a;
  }
  .container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
  }

  /*Boton de subir*/
  #button-up {
    width: 60px;
    height: 60px;
    background: #46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
  }

  /*Responsive Desing - Adaptada a dispositivos moviles*/
@media screen and (max-width:1220px){
  .header-content, .container-content,.container-photos{
      max-width: 1000px;
      padding: 0 20px;
  }
  .container-footer footer{
    width: 1000px;
  }
}
@media screen and (max-width:1020px){
  .header-content, .container-content{
      width: 100%;
      padding: 0 50px;
  }
.container-photos{
  width: 700px;
  padding: 0;
}
  .container-footer footer{
    width: 100%;
  }
}
@media screen and (max-width: 800px){

  body{
      overflow-x: hidden;
  }
  .container-photos aside {
    margin: auto;
    width: auto;
  }

  .container-all{
      transition: all 300ms cubic-bezier(1,0,0,1);
  }

  .move-container-all{
      transform: translateX(300px);
  }

  .menu{
      width: 300px;
      height: 100vh;
      position: fixed;
      top: 80px;
      left: 0;
      background: #fff;
      overflow: hidden;
      transform: translateX(-350px);
      box-shadow: 10px 0 20px -25px black;
      transition: all 300ms cubic-bezier(1,0,0,1);
  }

  .show-lateral {
      width: 300px;
      transform: translateX(0px);
  }

  .menu nav ul {
      flex-direction: column;
  }

  .menu nav ul li{
      max-width: 200px;
      height: 50px;
      justify-content: flex-start;
  }

  .menu-selected:before{
      width: 0;
  }

  .menu nav ul li a{
      margin-top: 40px;
      color: #858585;
  }

  .menu nav ul li a i{
      width: 20px;
      display: inline-block;
      margin-right: 10px;
      color: #46a2fd;
  }

  #icon-menu{
      display: flex;
  }

}
